.btn{
    background-color: #457b9d;
    border-radius: 50px;
}

.btn:hover{
    transform: scale(1.1);
}

.addBtn{
    padding-top: 10px;
}

.cardArea{
    padding: 20px;
    display: flex;
    flex-direction: row;
}